.containerSet {
  width: 400px;
  margin: 0;
  padding-top: 0px;
  padding: 60px;
  background: #23235b;
  margin-top: 80px;
  margin-bottom: 50px;
  color: rgb(175, 139, 175);
  margin: auto;
}

.contSet {
  padding-top: 30px;
}

.titlu1 {
  top: 1px;
  font-size: 30px;
  margin-bottom: 0px;
  margin-top: 0;
  text-align: center;
  font-size: 30px;
}

.t1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
}

.input1 {
  width: 400px;
  height: 40px;
  padding: 0px;
}

.input2 {
  padding: 0px;
  width: 400px;
  height: 40px;
  margin-top: 10px;
}

.titlu3 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 18px;
}

.butonChange {
  width: 380px;
  height: 30px;
  border-radius: 60px;
  background-color: #00d4ff;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.butonChangeName {
  width: 380px;
  height: 30px;
  border-radius: 60px;
  background-color: #00d4ff;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
