.cont {
  height: 50px;
  width: 150px;
  padding: 10px;
  padding-top: 20px;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topContainer .inputBox {
  width: 350px;
  max-width: 350px;
  height: 45px;
  position: relative;
}

.topContainer .inputBox input {
  width: 100%;
  height: 100%;
  background: #19162c;
  border: none;
  outline: none;
  border-radius: 0.5em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  color: #d0cfd4;
  font-size: 16px;
  padding: 0px 40px;
}

.topContainer .inputBox input::placeholder {
  color: #757380;
}

.topContainer .inputBox i {
  position: absolute;
  top: 0;
  left: 0;
  color: #757380;
  font-size: 20px;
  width: 40px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

@media screen and (max-width: 525px) {
  .topContainer .inputBox {
    width: 120px;
    z-index: 101;
  }

  .topContainer .inputBox input:focus {
    width: 320px;
  }
}
