.sub-main4 {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 380px;
  padding-top: 30px;
  border-radius: 60px;
  background-color: rgb(216, 231, 239);
  margin: auto;
  padding: 20px;
}

.button4 {
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: #00d4ff;
  color: white;
  font-size: 25px;
  border: none;
}

.forgot-button {
  padding-top: 15px;
}

.email4 {
  height: 25px;
  width: 25px;
  position: absolute;
  padding: 14px 0 0 25px;
}

.second-input4 {
  padding: 0px;
}

.second-input5 {
  padding: 10px;
}

.name4 {
  padding-left: 70px;
  font-size: 20px;
}

.button4 {
  width: 380px;
  height: 50px;
  border-radius: 60px;
  background-color: #00d4ff;
  color: white;
  font-size: 25px;
  border: none;
}

.send-button {
  padding-top: 15px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  /* For tablets */
  .main3 {
    padding: 150px 0 150px 0;
  }

  .sub-main3 {
    width: 50%;
  }

  .button4 {
    width: 300px;
  }
}

@media (max-width: 768px) {
  /* For laptops */
  .main3 {
    padding: 100px 0 100px 0;
  }

  .sub-main3 {
    width: 70%;
  }

  .button4 {
    width: 250px;
  }

  .name3 {
    padding-left: 40px;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  /* For phones */
  .main3 {
    padding: 50px 0 50px 0;
  }

  .sub-main3 {
    width: 90%;
  }

  .button4 {
    width: 200px;
  }

  .name3 {
    padding-left: 20px;
    font-size: 16px;
  }
}
