body {
  margin: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#page {
  position: relative;
  width: inherit;
  height: 100vh;
  background: #121026;
  overflow: hidden;
  display: flex;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 60px;
  outline: none;
  background-color: #ffffff;
}
